/*------------------ css reset -------------------------*/
  
  * {
      margin: 0;
      font-size: 100%;
      line-height: 1em;
  }
  
  body {
      width: 100%;
      max-width: 100%;
      margin: auto;
      line-height: 1.5;
      background-color: ghostwhite;
      font: 14px/1 sans-serif;
      color: #555;
      background: #e5e5e5;
  }
  /*------------------ nav -------------------------*/
  
  nav {
      padding: 1em;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
      margin-bottom: 2em;
      margin: auto;
      max-width: 90%;
  }
  
  nav ul {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5em;
      letter-spacing: 1.5px;
      margin: .25em;
  }
  
  nav ul li {
      display: inline;
      margin: 30px;
      color: grey;
  }
  
  nav a:hover {
      border-bottom: none;
  }
  
  a {
      color: black;
      text-decoration: none;
      font-family: sans-serif;
  }
  
  a:hover {
      color: indianred;
      text-decoration: 1px dotted;
  }
  /*------------------- typography ------------------------*/
  
  header,
  img img {
      display: block;
      margin: auto;
      padding: 1em;
      max-width: 100%;
      padding: 3em 0 2em 60em;
  }
  
  p {
      font-size: 2em;
      line-height: 1.5em;
      max-width: 100%;
      text-align: left;
      padding: 1em 14em 2em 14em;
      margin: auto;
      position: relative;
  }
  
  h2 {
      font-size: 2em;
      margin: auto;
      padding: 1em 2em 1em 5em;
      font-weight: normal;
      color: black;
      text-align: left;
  }
  
  .introtext {
      font-size: 2em;
      line-height: 1.5em;
      max-width: 90%;
      text-align: left;
      padding: 0em 14em 2em 14em;
      margin: auto;
      position: relative;
  }
  /*-------------------backgrounds ------------------------*/
  
  .p1 {
      height: 10em;
      padding: 0;
      padding-bottom: 30%;
      background-color: lightgray;
      max-width: 100%;
  }
  
  .img1 {
      display: block;
      margin: auto;
      padding: 1em;
      max-width: 60%;
  }
  
  .p2 {
      background-color: ghostwhite;
      height: 10em;
      padding: 2em;
      padding-bottom: 20%;
      max-width: 100%;
  }
  
  .p3 {
      background-color: lightgray;
      height: 10em;
      padding: 3em;
      padding-bottom: 37%;
      max-width: 100%;
  }
  
  .img2 {
      display: block;
      margin: auto;
      padding: 1em;
      max-width: 60%;
  }
  
  .p4 {
      background-color: ghostwhite;
      height: 10em;
      padding: 2em;
      padding-bottom: 10%;
      max-width: 100%;
  }
}
.p5 {
    background-color: lightgray;
    height: 10em;
    padding: 2em;
    padding-bottom: 20%;
    max-width: 100%;
}
.p6 {
    background-color: ghostwhite;
    height: 10em;
    padding: 2em;
    padding-bottom: 2%;
    max-width: 100%;
}
.p7 {
    background-color: ghostwhite;
    height: 10em;
    padding: 1em 1em 1em 2em;
    padding-bottom: 12%;
    max-width: 100%;
}
.p8 {
    background-color: lightgrey;
    height: 10em;
    padding: 1em 1em 1em 2em;
    padding-bottom: 18%;
    max-width: 100%;
}
.p9 {
    background-color: ghostwhite;
    height: 10em;
    padding: 1em 1em 1em 2em;
    padding-bottom: 50%;
    max-width: 100%;
}
footer {
    font-size: 2em;
    color: black;
    margin: auto;
    text-align: center;
    
}

/*-------------- Gallery -------------------*/
.img4 {
    display: inline;
    margin: auto;
    padding: 1em 1em 3em 1em;
    max-width: 100%;
}
h4 {
    margin: 40px 0;
    font-size: 2em;
    text-align: center;
    font-size: 2em;
    margin: auto;
    padding: 1em 2em 1em 5em;
    font-weight: normal;
    color: grey;
    text-align: left;
}
