  /*------------------ css reset -------------------------*/

* {
    margin: 0;
    font-size: 105%;
    line-height: 1em;
}

body {
    width: 100%;
    max-width: 100%;
    font-family: sans-serif;
    margin: auto;
    color: #333;
    line-height: 1.5;
    background-color: whitesmoke;
}


/*------------------- typography ------------------------*/

h1,
h2,
h3 {
    padding: 0 0 0 2em;
    font-weight: normal;
    color: grey;
    text-align: left;
}

p {
    padding: 0 0 0 2em;
    margin-bottom: 2em;
    line-height: 1.5em;
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: .1em;
}

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
    margin-top: 1em;
}

header h2 {
    font-style: italic;
    font-size: 1.8em;
    color: gray;
}

.introtext {
    font-size: 1.2em;
    line-height: 1.5em;
}

blockquote {
    padding: 0 0 0 0;
    font-size: 1.5em;
    line-height: .5em;
    margin: .5em .5em 0 0;
}

/*--cite {
    font-size: .7em;
    display: block; 
    margin-top: -1.8em
}

blockquote p {
    color: dimgrey;
    hanging-punctuation: first;
    text-indent: -0.45em;
}

.anchor {
    text-transform: italic;
    font-size: 1em;
    text-align: center;
    margin: 0;
}
--*/

/*-------------------backgrounds ------------------------*/
.p1 {
    height: 0;
    padding: 0; 
    padding-bottom: 10%; 
    background-image: url(insertlink.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: ghostwhite;
}

.p2 {
    height: 0;
    padding: 0; 
    padding-bottom: 10%; 
    background-image: url(insertlink.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: ghostwhite;
}

